.bar {
  width: 17px;
  height: 70px;
  background-color: lavender;
  display: inline-flex;
  position: relative;
  margin: 5px;
  font-family: "Helvetica Neue", sans-serif;
  color: lavender;
  justify-content: center;
}

.doneElement {
  background-color: lightgreen;
  color: lightgreen;
}

.comparedElement {
  background-color: red;
}

.size-text {
  color: darkslategray;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
}

.hide-size {
  visibility: hidden;
}
