.bar {
    width: 17px;
    height: 70px;
    background-color: lavender;
    display: inline-flex;
    position: relative;
    margin: 5px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
    color: lavender;
    text-align: center;
}

.doneElement {
    background-color: lightgreen;
    color: lightgreen;
}

.comparedElement {
    background-color: lightcoral;
    color:lightcoral
}

.placeholderElement {
    visibility: hidden;
}

