.bar {
    width: 17px;
    height: 70px;
    background-color: lavender;
    display: inline-flex;
    position: relative;
    margin: 5px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
    text-align: center;
    color: lightslategray;
}