* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  width: 100%;
  line-height: 70px;
  text-align: center;
  position: relative;
  margin: auto;
  color: darkslategray;
}

.top-banner {
  background-color: whitesmoke;
  height: 75px;
  margin-bottom: 20px;
}

.minorLabel {
  margin-left: 20px;
  font-weight: bold;
  color: whitesmoke;
}

.page {
  min-height: 100%;
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
}

.slider {
  height: 10px;
  width: 70%;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: lavender;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.6);
  outline: none;
}

.bars {
  text-align: center;
}

.sidebar {
  position: fixed;
  left: -270px;
  min-width: 270px;
  height: 100%;
  background-color: #1a1a2e;
  z-index: 2;
  transition: all 0.5s ease;
}

.sidebar header {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  background-color: #16213e;
}

.sidebar ul li {
  line-height: 60px;
  border-top: 1px solid black;
}

.sidebar ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  user-select: none;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.button {
  transition: 0.6s all ease;
  color: whitesmoke;
}

.button:hover {
  background-color: lavender;
  color: #1a1a2e;
}

.start-button {
  cursor: pointer;
  transition: 0.6s;
  color: whitesmoke;
}

.start-button:hover {
  background-color: lightgreen;
  color: #1a1a2e;
}

.drop-down {
  color: whitesmoke;
  font-family: "Helvetica Neue", sans-serif;
  transition: 0.6s;
}

.drop-down:hover {
  border-left: 5px solid lavender;
  background-color: #2f2f4d;
}

.drop-down-algo-running {
  color: whitesmoke;
  transition: 0.6s;
}

.drop-down-algo-running:hover {
  border-left: 5px solid lightcoral;
}

.button-algo-running {
  transition: 0.6s all ease;
  color: whitesmoke;
  font-family: "Helvetica Neue", sans-serif;
}

.button-algo-running:hover {
  background-color: lightcoral;
  color: #1a1a2e;
}

.speed-options-dont-show {
  position: static;
  display: none;
}

.speed-options-show {
  display: block;
}

.algorithm-options-show {
  display: block;
}

.algorithm-options-dont-show {
  position: static;
  display: none;
}

.drop-down-option {
  font-size: 16px;
  color: whitesmoke;
  font-weight: bold;
  line-height: 35px;
  margin-left: 7px;
  font-family: "Helvetica Neue", sans-serif;
}

.item {
  width: 100%;
  background-color: #1e1f26;
  transition: 0.4s all;
}

.item:hover {
  background-color: lavender;
}

.item:hover .drop-down-option {
  color: #1a1a2e;
}

.sidebar ul li a span {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 18px;
  transform: translateY(-50%);
}

.sidebar ul li a:hover span {
  transform: translateY(-50%) rotate(90deg);
}

#check {
  display: none;
}

label #cancel,
label #btn {
  position: absolute;
  cursor: pointer;
  background-color: #16213e;
  border-radius: 5px;
}

label #btn {
  left: 60px;
  top: 18.5px;
  font-size: 20px;
  color: white;
  padding: 6px 8px;
  z-index: 2;
  transition: all 0.5s;
}

label #cancel {
  z-index: 3;
  left: -220px;
  font-size: 17px;
  color: white;
  padding: 4px 8px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 270px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 235px;
}

.caret {
  margin-right: 15px;
}
